body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 18, 18);
}

@import url('https://fonts.cdnfonts.com/css/apple-garamond');

.round {
  position: fixed;
  margin: auto;
  top: 30px;
  left: 35px;
  color: aliceblue;
  font-family: 'Apple Garamond';
  font-size: 30px;
}

.text {
  color: aliceblue;
  font-size: 50px;
}

.box {
  position: relative;
  margin: auto;
  margin-top: 15vh;
  background-color: dimgrey;
  height: 500px;
  width: 1000px;
}

.container {
  position: relative;
  margin: auto;
  margin-top: 15vh;
  height: 500px;
  width: 1000px;
}

.cup {
  position: absolute;
  float: left;
  top: 100px;
  transition: transform 0.3s ease-in-out;
}

#cup1 {
  left: 91px;
}

#cup2 {
  position: absolute;
  left: 394px;
  z-index: 2;
}

#cup4 {
  position: absolute;
  top: -100px;
  display: none;
  left: 394px;
  top: -100px;
  z-index: 1;
}

#quiztext {
  position: absolute;
  width: 135px;
  height: 135px;
  left: 432px;
  text-align: center;
  font-family:'gulim';
  font-size: 13px;
  top: -80px;
  line-height: 1.2;
  display: inline-block;
  border-radius: 50%;
  color: aliceblue;
  overflow: hidden;
  display: none;
  z-index: 1;
}

#cup3 {
  left: 697px;
}

.button {
  position: relative;
  margin: auto;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: crimson;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  font-family: cursive;
  animation: clickMe 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes clickMe {
  0% {
    transform: translateX(-50%) scale(1) rotate(0deg);
    transform-origin: center center;
  }
  30% {
    transform: translateX(-50%) scale(1);
  }
  40% {
    transform: translateX(-50%) scale(1);
  }

  70% {
    transform: translateX(-50%) scale(1.3) rotate(720deg);
    transform-origin: center center;
  }

  100% {
    transform: translateX(-50%) scale(1) rotate(720deg);
    transform-origin: center center;
  }
}

.accela {
  position: fixed;
  /* left: 427px; */
  left: calc(50vw - 75px);
  margin: auto;
  z-index: 1;
  width: 150px;
  animation: moveUp 4s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 45%;
  }
}

#message {
  position: absolute;
  text-align: center;
  margin: -50px auto;
  width: 100vw;
  color: aliceblue;
  font-family: 'Gulim';
}






/* game2.css */
.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  margin-left: 30px;
  position: absolute;
  bottom: 3%;
  border: 6px solid blue;
  /* background-color: darkblue; */
  animation: moving 15s infinite;
  overflow: hidden;
}

@keyframes moving {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(calc(100vw - 700px - 30px));
  }
  100% {
      transform: translateX(0);
  }
}



.rotating {
  width: 300px;
  height: 100px;
  position: absolute;
  /* background-color: dimgray; */
  margin: auto;
  top: 0;
  bottom: 0;
  animation: haha 4s linear infinite;
  transform-origin: 350px;
}

@keyframes haha {
  100%{
      transform: rotate(360deg);
  }
  }

.target {
  left: 0;
  animation: haha 4s linear infinite reverse ;
}

#images {
  position: relative;
  margin: 90px auto auto 30px;
}

.dartpin {
  width: 100px;
}



#mark {

position: absolute;
display: none;
width: 100px;
height: 100px;
}

#mark::before,
#mark::after {
content: "";
position: absolute;
top: 0;
left: 50%;
width: 10px;
height: 100%;
background-color: crimson;
transform-origin: center;
}

#mark::before {
transform: translateX(-50%) rotate(45deg);
}

#mark::after {
transform: translateX(-50%) rotate(-45deg);
}






/* you_died.css */
.container3{
  position: flex;
  margin: 20% auto;
  height: 150px;
  width: 500px;
  /* background-color: aliceblue; */
  text-align: center;
  color: crimson;
  font-size: 100px;
  font-family: 'Apple Garamond';
  animation: opacity 3s linear;
}

@keyframes opacity {
  0% {
      opacity: 0%;
  }

  50% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

.newlife {
  display: block;
  position: relative;
  margin: auto;
  background-color: aliceblue;
  width: 300px;
  height: 100px;
  top: 80px;
  font-size: 50px;
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.8), -2px -2px 30px rgba(255, 255, 255, 0.8); ;
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }
  15% {
      background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  45% {
      background-color: green;
  }
  60% {
      background-color: blue;
  }
  75% {
      background-color: blueviolet;
  }
  100% {
    background-color: red;
  }
}

.coin {
  position: relative;
  font-size: 30px;
  top: 40px;
}

.coinimg {
  width: 22px;
}



/* .scoretext {
  font-size: 20px;
  width: 100%;
  height: 20px;
  position: relative;
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
  font-family: Courier;
}

#scoreDisplay {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: aliceblue;
} */